@use "../abstracts/" as *;
@forward "logo";
@forward "navbar";
@forward "sidebar";

.admin__layout {
  .layout-container {
    display: grid;
    grid-template-columns: rem(270) 1fr;

    align-items: start;

    .layout__main {
      padding: rem(60);
      margin-bottom: rem(450);

      @include screen("tablet") {
        padding: rem(40);
      }

      @include screen("mobile") {
        padding: rem(20);
      }
    }
  }
  @include screen("tablet") {
    margin-top: rem(50);
  }
}
