@use "../abstracts/" as *;
@forward "logo";
@forward "navbar";
@forward "sidebar";

.admin__layout {
  .layout-container {
    display: grid;
    grid-template-columns: rem(270) 1fr;

    align-items: start;

    .layout__main {
      padding: rem(60);
      grid-column: 2/3;
      margin-block: rem(100) rem(250);

      @include screen("tablet") {
        grid-column: 1/3;
        padding: rem(40);
        margin-bottom: rem(80);
        margin-top: 0;
      }

      @include screen("mobile") {
        padding: rem(20);
        padding-top: rem(30);
      }
    }

    @include screen("tablet") {
      grid-template-columns: 1fr;
    }
  }
  @include screen("tablet") {
    margin-top: rem(50);
  }
}
