@use "../abstracts/" as *;
@forward "logo";
@forward "navbar";
@forward "sidebar";

.admin__layout {
  height: 100svh;
  overflow: hidden;
  .layout-container {
    display: flex;
    height: 100%;

    .layout__main {
      flex: 1;
      padding: rem(60);
      overflow-y: auto;

      @include screen("tablet") {
        padding: rem(40);
      }

      @include screen("mobile") {
        padding: rem(20);
      }
    }
  }
  @include screen("tablet") {
    margin-top: rem(50);
  }
}
