@use "../abstracts/" as *;

.navbar {
  background: clr("white-clr");
  padding-block: rem(25);
  padding-inline: rem(30);
  position: relative;
  z-index: 1000;

  @include alignCenter;
  column-gap: rem(170);
  @include shadow;

  &__menu--btn {
    display: none;
  }

  &__content {
    flex: 1;
    @include alignCenter;
    justify-content: space-between;

    .navbar__searchbar {
      width: rem(400);
      position: relative;
      height: rem(40);

      &--btn {
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 rem(5) rem(5) 0;
        padding: rem(0);
        height: 100%;
        width: rem(56);

        &:hover {
          transform: scale(1);
        }
      }
    }

    .navbar__nav {
      @include alignCenter;
      gap: rem(20);

      .doc_link {
        text-decoration: underline;
        &:hover {
          text-underline-offset: rem(2);
        }
      }
      .avatar {
        width: rem(50);
        aspect-ratio: 1;
        border-radius: 100%;
        overflow: hidden;
      }
    }
  }

  // HDR: Mobile Style
  @include screen("mobile") {
    column-gap: rem(0);

    padding-block: rem(15);
    padding-inline: rem(15);

    &__logo {
      display: none;
    }

    &__menu--btn {
      display: initial;
    }
    &__content {
      flex-direction: column;
      align-items: end;
      .navbar__searchbar {
        display: none;
      }
    }

    .navbar__nav {
      @include alignCenter;
      gap: rem(10);

      .doc_link {
        text-decoration: underline;
        &:hover {
          text-underline-offset: rem(2);
        }
      }
      .avatar {
        width: rem(35);
        aspect-ratio: 1;
        border-radius: 100%;
        overflow: hidden;
      }
    }
  }
}
