@use "../abstracts/" as *;

.btn {
  @include btnBase;

  &__primary {
    background-color: clr("accent");
    color: clr("white-clr");
  }
  &__secondary {
    background: none;
    color: clr("text-background");
    border: rem(1) solid clr("text-background");

    &:hover {
      transform: scale(1);
      background: rgba(clr("text-background"), 0.2);
    }
  }

  &__danger {
    @extend .btn__secondary;
    color: clr("error");
    border-color: clr("error");

    &:hover {
      background: rgba(clr("error"), 0.2);
    }
  }
  &__success {
    @extend .btn__secondary;
    color: clr("accent");
    border-color: clr("accent");

    &:hover {
      background: rgba(clr("accent"), 0.2);
    }
  }
  &__neutral {
    border-radius: 0;
    padding: 0;
  }
}

.login_btn {
  margin-top: rem(10);
}
.logout_btn {
  @include alignCenter;
  gap: rem(10);
  font-family: font("worksans");
  font-weight: fw("normal");
  padding-inline: rem(30);
  padding-block: rem(12);
  width: 100%;
  color: clr("text-background");
}
.back_button {
  @include alignCenter;
  gap: rem(13);
  font-weight: fw("normal");
  font-size: rem(16);

  &:hover {
    color: clr("accent");
  }
}
.action_btn {
  padding: 0.75em 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
