@use "../abstracts/" as *;

.input-group {
  height: 100%;
  .input-field {
    width: 100%;
    position: relative;

    .input {
      width: 100%;
      border: rem(2) solid rgba(clr("text-background"), 0.15);
      border-radius: rem(5);
      font-family: font("avenir");
      position: relative;

      &:has(input:focus) {
        border-color: rgba(clr("accent"), 0.55);
      }

      &__input {
        outline: none;
        background: none;
        outline: none;
        width: 100%;
        font-family: inherit;
        font-weight: 400;
        font-size: 1rem;
        border: none;
        border-radius: 0;

        &::placeholder {
          font-size: 1rem;
          font-family: inherit;
          color: rgba(clr("text"), 0.35);
        }

        &:focus {
          border: none;
        }
      }
      .password__btn {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        color: clr("accent");
        text-transform: uppercase;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: rem(12);
        font-weight: fw("medium");
      }
    }

    // HDR: Primary Input group style
    &.primary {
      .input .input__input {
        padding: rem(12);
      }
      @include primaryInput;
    }

    // HDR: Search Input group style
    &.search {
      height: 100%;

      .input__label {
        display: none;
      }
      .input {
        height: 100%;
        &__input {
          padding-inline: rem(12);
          height: 100%;
          display: block;
        }
      }
    }

    // HDR: Regualar Input group style
    &.regular {
      .input__label {
        @include label;
      }
      .input .input__input {
        padding: rem(12);
      }
    }
  }
}
