@use "../abstracts/" as *;

.loading__container {
  min-height: 30svh;
  width: 100%;
  @include alignCenter;
  gap: rem(20);
  justify-content: center;

  .loading__text {
    font-size: rem(20);
    color: clr("text-background");
    animation: pulse 3s ease-in-out infinite;
  }
}

.loader__icon {
  width: rem(35);
  height: rem(35);
  animation: spin 1s linear infinite;

  &.sm {
    width: rem(20);
    height: rem(20);
  }

  &.lg {
    width: rem(45);
    height: rem(45);
  }
}
