@use "../abstracts/" as *;

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(10);
  margin-block: rem(20);

  &__buttons {
    @include alignCenter;
    gap: rem(10);

    .pagination__button {
      padding: rem(5);
      color: clr("text-background");
      opacity: 0.6;
      font-size: rem(16);
      font-weight: fw("normal");

      &.active {
        opacity: 1;
        font-weight: fw("bold");
      }

      &--nav {
        @extend .pagination__button;
        opacity: 1;
        background: rgba(clr("text"), 0.1);
        border-radius: rem(4);

        &:hover {
          color: clr("text");
        }
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  &__input {
    @include alignCenter;
    gap: rem(10);
    font-size: rem(14);
    color: clr("text-background");

    .pagination__select-wrapper {
      position: relative;

      .custom_arrow {
        position: absolute;
        right: rem(5);
        top: 50%;
        transform: translateY(-50%);
      }
      .pagination__select {
        width: rem(80);
        font-size: rem(14);
        padding: rem(7) rem(12);
        border-radius: rem(4);
        font-size: rem(14);
        color: clr("text");
        background: rgba(clr("text"), 0.1);
        cursor: pointer;
        outline: none;
        border: none;
        appearance: none;
      }
    }
  }
}
