@use "../abstracts/" as *;

.table-section {
  .table-container {
    background-color: clr("white-clr");
    border-radius: rem(4);
    margin-bottom: rem(20);
    @include shadow(rem(3), rem(5));
    padding: 0 rem(30) rem(30);

    // max-height: 65svh;
    // overflow-y: auto;

    @include noScrollBar;

    .table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: rem(14);
      color: clr("text-background");
      text-align: left;

      caption {
        display: none;
      }

      &__head {
        background-color: clr("white-clr");
        z-index: 10;

        &--cell {
          overflow: visible;
          position: relative;
          padding-block: rem(23);
          span {
            font-weight: fw("semi-bold");
            text-transform: uppercase;
            font-size: rem(12);
          }
          .filter-dropdown {
            display: inline-block;
            vertical-align: middle;
            margin-left: rem(10);
          }
        }
      }

      &__cell {
        padding-block: rem(23);
        border-bottom: 1px solid rgba(clr("text"), 0.1);

        &.empty {
          text-align: center;
          font-style: italic;
          padding-block: rem(60);
          border-bottom: 0;
        }
      }

      &__body .table__row {
        position: relative;
        &:hover {
          background-color: rgba(clr("text-background"), 0.03);
        }
      }

      &__body .table__row:last-child {
        .table__cell:not(.empty) {
          border-bottom: 0;
        }
      }
    }
    @include screen("tablet") {
      padding: 0 rem(0) rem(0);
      border: rem(1) solid rgba(clr("text"), 0.2);
      max-height: 120svh;
      overflow-y: scroll;
      padding-bottom: rem(150);

      .table {
        caption {
          display: table-caption;
          font-size: rem(18);
          text-align: center;
          position: sticky;
          top: 0;
          padding-block: rem(20);
          text-transform: uppercase;
          background: rgba(clr("text-background"), 0.3);
        }
        &__cell {
          display: grid;
          width: 100%;
          grid-template-columns: 1fr 1fr;
          border-bottom: none;
          padding-inline: rem(20);
          padding-block: rem(15);

          &::before {
            content: attr(data-cell) ":";
            text-transform: capitalize;
            font-weight: fw("bold");
            font-size: rem(16);
          }

          // &:first-child {
          //   padding-top: rem(30);
          // }
        }
        &__head {
          position: sticky;
          top: 0;
          &--cell {
            display: none;
          }
          &--cell:first-of-type {
            border-bottom: 2px solid rgba(clr("text"), 0.1);
            display: grid;
            justify-content: center;
            > span {
              display: none;
            }
          }
        }
        &__row {
          border-bottom: 1px solid rgba(clr("text"), 0.1);

          &:nth-of-type(2n) {
            background-color: rgba(clr("text-background"), 0.08);
          }
        }
      }
    }
  }
}
