@use "../abstracts/" as *;

.table-section {
  .table-container {
    background-color: clr("white-clr");
    border-radius: rem(4);
    margin-bottom: rem(20);
    @include shadow(rem(3), rem(5));
    padding: 0 rem(30) rem(30);
    // max-height: 65svh;
    // overflow-y: auto;

    @include noScrollBar;

    .table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: rem(14);
      color: clr("text-background");
      text-align: left;

      &__head {
        // position: sticky;
        // top: 0;
        background-color: clr("white-clr");
        z-index: 10;

        &--cell {
          overflow: visible;
          position: relative;
          padding-block: rem(23);
          span {
            font-weight: fw("semi-bold");
            text-transform: uppercase;
            font-size: rem(12);
          }
          .filter-dropdown {
            display: inline-block;
            vertical-align: middle;
            margin-left: rem(10);
          }
        }
      }

      &__cell {
        padding-block: rem(23);
        border-bottom: 1px solid rgba(clr("text"), 0.1);

        &.empty {
          text-align: center;
          font-style: italic;
          padding-block: rem(60);
          border-bottom: 0;
        }
      }

      &__body .table__row {
        position: relative;
        &:hover {
          background-color: rgba(clr("text-background"), 0.03);
        }
      }

      &__body .table__row:last-child {
        .table__cell:not(.empty) {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}
