$font-weights: (
  thin: 100,
  extra-light: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900,
);

$colors: (
  text: #213f7d,
  text-background: #545f7d,
  background: #fbfbfb,
  white: #ffffff,
  accent: #39cdcc,
  error: #ff0000,
  pending: #e9b200,
  active: #39cd62,
  orange: #f55f44,
  purple: #5718ff,
  pink: #df18ff,
);
