@use "../abstracts/" as *;

.form__error--text {
  color: clr("error");
  text-align: center;
  font-style: italic;
  font-size: rem(14);
  margin-top: rem(4);
}
.form__error {
  border-color: clr("error");
}

.forget_passowrd__link {
  color: clr("accent");
  text-transform: uppercase;
  font-size: rem(12);
  font-family: font("avenir");
  font-weight: fw("medium");
}
