@use "../abstracts/" as *;

.userpage {
  &__heading {
    font-size: rem(24);
    font-weight: fw("medium");
  }

  &__user-tabs {
    margin-block: rem(40);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(120), 1fr));
    column-gap: rem(26);
    row-gap: rem(10);
  }

  &__action-dropdown {
    display: flex;
    flex-direction: column;
    gap: rem(20);

    .action-dropdown_link {
      @include dropdownLinks;
      padding-block: 0;
    }
  }

  @include screen("tablet") {
    &__user-tabs {
      column-gap: rem(10);
      margin-block: rem(20);
    }
  }
}
