@use "../abstracts/" as abs;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: abs.font("worksans");
  font-style: normal;
  font-weight: abs.fw("normal");
  background-color: abs.clr("background");
  color: abs.clr("text");
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

input,
button,
textarea {
  font: inherit;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}
